---
import Layout from "../layouts/Layout.astro";
import ResumeSection from "../components/ResumeSection.astro";
import Skill from "../components/Skill.astro";
import { getEntry, getCollection } from "astro:content";

const skills = await getCollection("skills");
const exp = await getCollection("experience");
---

<Layout title="Steve Greco">
  <div class="flex flex-col lg:flex-row lg:flex-wrap">
    <div class="w-full">
      <section class="mb-6">
        <h1 class="text-6xl tracking-tight text-primary">Steve Greco</h1>
        <h2 class="text-lg mt-4">
          Application Developer <span class="text-secondary px-2">/</span>
           Application Analyst
        </h2>
        <p class="mt-4 text-lg text-slate-400">
          Developer with 10+ years of development experience through multiple
          roles and exposure to a broad variety of stakeholders/customers.
        </p>
      </section>
    </div>
    <div class="w-full lg:w-1/3">
      <section class="mx-4">
        <h2
          class="text-slate-200 font-extrabold tracking-wide text-xl uppercase mb-6"
        >
          Skills
        </h2>
        {
          skills
            .sort((a, b) => a.data.order - b.data.order)
            .map((section) => (
              <div>
                <h4 class="text-lg text-slate-200 my-4 tracking-wide text-semibold">
                  {section.data.title}
                </h4>
                <div class="flex flex-wrap gap-2">
                  {section.data.items.map((skill) => (
                    <Skill primary={skill.primary}>{skill.title}</Skill>
                  ))}
                </div>
              </div>
            ))
        }
      </section>
    </div>
    <div class="w-full lg:w-2/3">
      <section>
        <h2
          class="text-slate-200 font-extrabold tracking-wide text-xl uppercase mb-6"
        >
          Experience
        </h2>
        <div class="flex gap-4 justify-start items-center">
          <p class="text-sm">January 2013 - Present</p>
          <h3 class="text-slate-400">United States Steel Corporation</h3>
        </div>
        <div>
          {
            exp.map((e) => (
              <>
                <h4 class="text-lg text-slate-200 my-4 tracking-wide text-semibold">
                  {e.data.title}
                </h4>
                <p class="text-slate-400">{e.data.summary}</p>

                {e.data.skills.map((skill) => (
                  <Skill primary={true}>{skill}</Skill>
                ))}
              </>
            ))
          }
        </div>
      </section>
    </div>
    <div></div>
  </div>
</Layout>
